*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
html {
    scroll-behavior: smooth;
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
.section-head {
    text-align: center;
    line-height: 1.8;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: var(--section-padding);
}
@media (max-width: 768px){
    .section-head {
        width: 100%;
    }
}
.section-head h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 450;
    margin: 0 0 50px 0;
}
.section-head h2::before {
    content: "";
    width: 120px;
    border-bottom: 2px solid #000;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.section-head h2::after {
    content: "";
    width: 14px;
    height: 14px;
    border: 2px solid #000;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -22.5px;
    left: 50%;
    transform: translateX(-50%);
}

.section-head p {
    color: #777;
}

header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 97px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.582);
}
header .logo{
    height: 40px;
    margin-left: 15px;
}
header .logo img {
    height: 100%;
}
header nav {
    display: flex;
    margin-left:30px;
}
header .container nav .searsh{
    font-size: 20px;
    height: 40px;
    color: white;
    margin-left: 30px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
header .container nav .searsh::after {
    content: "";
    width: 1px;
    height: 80%;
    background-color: white;
    position: absolute;
    left: -20px;
}
header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    position: relative;
}
header .container nav > i {
    display: none;
    color: white;
    font-size: 25px;
    margin-right: 20px;
    z-index: 3;
}
@media (max-width: 768px) {
    header .container nav > i {
        display: flex;
}
}
header nav ul {
    display: flex;
    z-index: 2;
}
@media (max-width: 768px) {
    header nav ul {
        padding-right: 20px;
        display: none;
        position: absolute;
        z-index: 2;
    }
    header .container nav > i:hover + ul {
        display: block;
        top: calc( 100% + 28px);
        right: -15px;
        width: 100vw ;
        background-color: rgba(0, 0, 0, 0.459);
    }
}

header nav ul li a {
    color: white;
    font-size: 14px;
    padding: 38px 10px;
    z-index: 4;
    transition: 0.3s;
}

header nav ul li a:hover,.select {
    border-bottom: 1px solid var(--main-color);
    color: var(--main-color);
}

@media (max-width: 768px) {
    header nav ul li{
        padding: 10px 0px;
        margin: 10px 0px;
        width: 100vw;
    }
    header nav ul li:first-child{
        border-bottom: 2px solid var(--main-color);
    }
    header nav ul li a{
    border: 0px transparent;
    }
    header nav ul li a:hover,.select {
        border-bottom: none;
        color: var(--main-color);
    }
}
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    position: relative;

}
.landing .color {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0000009c;
}
.landing .text-bac {
    display: flex;
    justify-content: flex-end;
    background-color: var(--transparent-color);
    position: absolute;
    width: 50%;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    
}
.landing .text-bac .text {
    line-height: 1.8;
}
@media (max-width: 768px) {
    .landing .text-bac {
        width: fit-content
    }
}
.landing .text h1 {
    font-size: 2em;
    font-weight: 50;
    padding: 30px 40px 0;
    margin: 0;
}
.landing .text p {
    font-size: 14px;
    padding: 20px 40px 50px;
    margin: 0px;
}
.landing i {
    position: absolute;
    color: white;
}
.landing i:first-of-type {
    top: 50%;
    left: 15px;
}
.landing i:last-of-type {
    top: 50%;
    right: 15px;
}
@media (max-width: 768px) {
    .landing i {
       display: none;
    }  
}
.landing .container.circl {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
}
.landing .circl {
    position: absolute;
    top: calc(100% - 50px);
    left: 50%;
    transform: translate(-50%, -50%);
}
.landing .circl span {
    color: white;
    display: inline;
    border-radius: 50%;
    border: 2px solid white;
    margin: 5px;
    padding: 16px 16px 0px 0px;
    font-size: 0px;
}
.landing .circl span:nth-child(2) {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

#services .container {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
#services .serv-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
    column-gap: 40px;
    row-gap: 60px;
    position: relative;
}
@media (max-width: 768px) {
    #services .serv-cont { 
        grid-template-columns: auto;
        row-gap: 30px;
        column-gap: 0px;
    }
}

#services .container .serv-cont .serv {
    display: flex;
}
@media (max-width: 768px) {
    #services .container .serv-cont .serv { 
        flex-wrap: wrap;
        margin: 0;
    }
}
#services .container .serv-cont .serv div:first-child {
    margin: 0 50px 0 0;
}
@media (max-width: 768px) {
    #services .container .serv-cont .serv div:first-child { 
        width: 100%;
        text-align: center;
        margin: 0 0 30px 0;
    }
}

#services .container .serv-cont .serv .text {
    flex: 1;
    line-height: 1.6;
}
@media (max-width: 768px) {
    #services .container .serv-cont .text { 
        text-align: center;
        width: 100%;
    }
}
#services .container .serv-cont .serv .text h2{
    color: var(--main-color, black);
    margin: 0px 0 30px 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
}
#services .container .serv-cont .serv .text p{
    color: #777;
}
.design {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    height: 600px;
    position: relative;
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
    display: flex;
    align-items: center;
    overflow-y: hidden;
}
.design::before {
    content: "";
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;top: 0;
}
.design .text {
    background-color: var(--transparent-color);
    height: 90%;
    flex:1;
    z-index: 2;
    padding: 50px;
    color: white;
}
.design .text h2 {
    font-size: 24px;
    padding-bottom: 40px;
    font-weight: normal;
}
.design .text p {
    padding: 15px 0;
}
.design .text p::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    padding-right: 20px;
    color: white;
}
.design .image {
    text-align: center;
    position: relative;
    top: 150px;
    flex: 1;
}
@media (max-width: 768px) {
    .design .image {
        display: none;
    }
}
.protfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.protfolio ul {
    display: flex;
    justify-content: center;
}
.protfolio ul li {
    padding: 10px;
}
.protfolio ul li:first-child {
    background-color: var(--main-color);
    color: white;
}
.protfolio .cards {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 50px;
    grid-row-gap: 5px;
}
@media (min-width: 768px) {
    .protfolio .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1200px) {
    .protfolio .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}
.protfolio .cards .card img {
    width: 100%;
    transition: all 0.5s;
}
.protfolio .cards .card{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    max-width: 100%;
}
.protfolio .cards .card .text{
    padding: 0 15px;
    height: 0px;
    transition: all 0.3s;
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    line-height: 1.6;
}
.protfolio .cards .card .text p:last-child {
    color: var(--main-color, black);
}
.protfolio .cards .card:hover > .text{
    padding: 15px;
    height: 80px;
}
.protfolio .cards .card:hover > img {
    transform: rotate(5deg) scale(1.2);
}
.protfolio .button {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.protfolio .button a {
    background-color: var(--main-color);
    padding: 20px;
    color: white;
}
.video {
    position: relative;
    overflow: hidden;
}
.video::before {
    content: "";
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.video video{
    width: 100%;
}
.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    height: 300;
    width: 100%;
    background-color: var(--transparent-color);
    padding: 20px;
    color: white;
    font-weight: normal;
}
.video .text h2, .video .text p {
    text-transform: uppercase;
    font-weight: normal;
    padding: 20px  0;
}
.video .text p:last-of-type {
    background-color: rgba(0, 0, 0, 0.877);
    padding: 10px 20px;
    width: fit-content;
    margin: 15px auto;
}
/* stat about */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}
.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}
@media (max-width: 768px){
    .about img {
       bottom: -30px;
       margin: -60px;
    }
} 
/* end about */
/* start stat */
.stat {
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding) ;
    background-image: url(../images/stats.png);
    background-size: cover;
    position: relative;
    text-align: center;
} 
.stat::before {
    content: "";
    background-color: rgb(0 0 0 /70%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.stat .container .boxs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--transparent-color);
    z-index: 2;
    position: relative;
}
.stat .container .boxs .box {
    padding: 50px;
    color: white;
}
@media (max-width: 768px) {
    .container .boxs .box {
        flex:100%
    }
}
@media (min-width: 768px) {
    .container .boxs .box {
        flex:50%
    }
}
@media (min-width: 992px) {
    .container .boxs .box {
        flex:25%
    }
}
.stat .container .boxs .box i {
    border-radius: 50%;
    padding: 15px;
    background-color: black;
    margin-bottom: 20px;
}
.stat .container .boxs .box .number {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}
.stat .container .boxs .box p {
    font-size: 14px;
}
/* end end */
/* start skills */
.skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.skills .container {
    display: flex;
    gap: 100px;
}
@media(max-width: 992px) {
    .skills .container {
        flex-wrap: wrap;
        gap: 0px;
    }
}
.skills .container .test h3, .skills .container .skill >h3 {
    text-align: center;
    text-align: center;
    margin-bottom: 30px;
    font-weight: normal;
    text-transform: uppercase;
}
.skills .container .test >p, .skills .container .skill >p {
    margin-bottom: 60px;
    text-align: center;
    color: #777;
}
.skills .container .test .person {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
@media(max-width: 768px) {
    .skills .container .test .person {
        display: block;
        text-align: center;
    }
}
.skills .container .test .person img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
@media(max-width: 768px) {
    .skills .container .test .person img {
        margin: 0 0 10px;
    }
}
.skills .container .test .person .text {
    flex: 1;
    line-height: 1.8;
    padding: 0 5px 0 0;
}
.skills .container .test .person .text p:last-child {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #777;
    font-size: 14px;
    color: #777;
    width: 100%;
    padding: 0px 0 10px;
}
.skills .circl {
    margin: 50px 0;
    width: 100%;
    text-align: center;
}
.skills .circl span {
    display: inline;
    border-radius: 50%;
    border: 1px solid #777;
    margin: 5px;
    padding: 10px 10px 0px 0px;
    font-size: 0px;
}
.skills .circl span:nth-child(2) {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.skills .container .skill {
    flex: 100%;
}
.skills .container .skill .rate h3{
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.skills .container .skill .rate p {
    border: 1px solid #777;
    width: 100%;
    padding: 15px 0;
    margin: 0 0 40px;
    border: none;
    position: relative;
}
[pull = "90"] {
    background-image: linear-gradient(to right, var(--main-color) 90% , #777 90%);
}
[pull = "85"] {
    background-image: linear-gradient(to right, var(--main-color) 85% , #777 85%);
}
[pull = "80"] {
    background-image: linear-gradient(to right, var(--main-color) 80% , #777 80%);
}
.skills .container .skill .rate p::before {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: -25px;
}
.skills .container .skill .rate [pull = "90"]::before {
    content: "90%";
    left: 90%;
}
.skills .container .skill .rate [pull = "85"]::before {
    content: "85%";
    left: 85%;
}
.skills .container .skill .rate [pull = "80"]::before {
    content: "80%";
    left: 80%;
}
.skills .container .skill .rate p::after {
    content: "";
    border: 10px solid;
    border-color: black transparent transparent transparent;
    position: absolute;
    left: 90%;
    top: -5px;
    transform: translate(-50%,-50%);
}
.skills .container .skill .rate [pull = "90"]::after {
    left: 90%;
}
.skills .container .skill .rate [pull = "85"]::after {
    left: 85%;
}
.skills .container .skill .rate [pull = "80"]::after {
    left: 80%;
}
/* end skills */
/* start photo */
.photo {
    background-color: rgba(0, 0, 0, 0.562);
    background-image: url(../images/quote.jpg);
    background-size: cover;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.photo::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /70%);
    position: absolute;
    left: 0;top: 0;
}
.photo .container {
    position: relative;
    text-align: center;
}
.photo .container p:first-child {
    font-size: 30px;
    color: white;
}
.photo .container p:last-child {
    background-color: rgba(255, 255, 255, 0.363);
    width: fit-content;
    font-weight: 100;
    margin: 20px auto 0;
    color: rgba(0, 0, 0, 0.7);
}
/* end photo */
/* start PRICING  */

/* end PRICING  */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .boxs .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
}
.pricing .boxs .container .box .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    line-height: 1.6;
}
.pricing .boxs .container .box .head h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
}
.pricing .boxs .container .box .head p {
    font-size: 60px;
    font-weight: 800;
}
.pricing .boxs .container .box .head p span{
    font-size: 20px;
    font-weight: 600;
}
.pricing .boxs .container .box .head p sup{
    font-size: 25px;
    vertical-align: revert ;
    font-weight: 400;
}
.pricing .boxs .container .box > p {
    width: fit-content;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}
.pricing .boxs .container .box > p:not(:last-of-type)::before{
    content:  "";
    width: 140px;
    height: 1px;
    position: absolute;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.pricing .boxs .container .box .buy {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    /* border-bottom: 1px solid var(--main-color); */
}
.pricing .boxs .container .box .buy a{
    border:1px solid var(--main-color);
    padding: 20px;
}
.pricing .boxs > p {
    margin: 50px 0 40px;
    font-size: 20px;
    text-align: center;
}
.pricing .boxs .cont {
    text-align: center;
}
.pricing .boxs .cont a {
    padding: 15px 30px;
    color: white;
    background-color: var(--main-color);
}
/* start email */
.mail{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: black;
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
}
.mail .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@media (max-width: 992px) {
    .mail .container {flex-direction: column;}
}

.mail::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /70%);
    position: absolute;
    left: 0;top: 0;
}
.mail i {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.mail form {
    margin: 0 20px 0 0;
    width: 500px;
    max-width: 100%;
    display: flex;
    position: relative;
}
.mail input[type="email"] {
    background-color: transparent;
    border: 1px solid white;
    border-right: none;
    color: white;
    width: calc(100% - 130px);
    padding: 20px 60px;
    text-align: left;
}
@media (max-width: 786px) {
    .mail form {
        width: 100%
    }
}
.mail input[type="email"]::placeholder{
    color: white;
}
.mail input[type="submit"] {
    background-color: var(--main-color);
    padding: 20px;
    width: 130px;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    border-left: none;
}
.mail p{
    color: white;
    line-height: 2;
}
@media(max-width: 992px) {
    .mail p{
        margin: 20px 0 0;
    }
}
/* end email */
/* start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .content{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .contact .content {
        flex-direction: column-reverse;
        gap: 20px;
    }
}
.contact .content form {
    flex-basis: 70%;
}
.contact .content form .main-input {
    display: block;
    padding: 20px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}
.contact .content form .main-input:focus {
    outline: none;
}
.contact .content form textarea.main-input {
    height: 200px;
}
.contact .content form input[type="submit"] {
    background-color: var(--main-color);
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border: none;
    display: flex;
    margin-left: auto;
    cursor: pointer;
}
.contact .content .info {
    flex-basis: 25%;
}
@media (max-width: 768px) {
    .contact .content .info{
        margin: 0  auto;
    }
}
.contact .content .info h4 {
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.contact .content .info .phone {
    display: block;
    margin-bottom: 10px;
    color: #777;
}
.contact .content .info h4:last-of-type {
    margin-top: 90px;
    margin-bottom: 40px;
}
.contact .content .info address {
    line-height: 1.8;
    color: #777;
}
/* end Contact */
/* start footer */
footer {
    background-color: black;
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    padding-bottom: 50px;
    position: relative;
}
footer::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
    position: absolute;
    left: 0;
    top: 0;
}
footer .container {
    position: relative;
    color: wheat;
    text-align: center;
}
footer .container img {
    margin: 50px 0;
    filter: brightness(90%);
}
footer .container p:first-of-type{
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid wheat;
    width: fit-content;
    margin: 20px auto;
}
footer .container .icons i {
    padding: 10px 15px;
}
footer .container p:last-of-type{
    margin-top: 50px;
    font-size: 14px;
    font-weight: 800;
}
footer .container p:last-of-type span {
    color: var(--main-color);

}
/* end footer */